body {
	font-size: 100%;
	/* background: black; */


}

html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



main {
	font-family: "Space Mono", monospace;
	font-weight: bold;
	font-size: 120%;
}

div {
	padding: 0.25%;
}

/* #searchID {
	background-image: url('https://cdn.jsdelivr.net/npm/twemoji@11.0.1/2/svg/2757.svg');
	background-size: contain;
	background-color: white;
	color: #3399ff;
	background-position: 5px 7px;
	background-size: 30px;
	background-repeat: no-repeat;
	width: 25%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	align-items: center;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
} */

#logo {
	font-family: "Source Serif Pro", serif;
	font-family: "Space Mono", monospace;
	font-weight: lighter;
	background-color: rgb(172, 172, 172);
	font-size: 250%;

}

#logo a:link {
	text-decoration: none;
	color: black;
}

#logo a:visited {
	text-decoration: none;
	color: black;
}

#logo a:hover {
	text-decoration: underline;
}

#logo a:active {
	color: rgb(0, 0, 0);
	background-color: white;
}

.box {
	position: relative;
	/* top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
}

.box select {
	background-color: black;
	font-weight: bold;
	color: white;
	padding: 0.5%;
	width: 125px;
	border: none;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
}

.box::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}

.box:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
	font-weight: bold;
}

.box select option {
	padding: 30px;
	font-weight: bold;
}

.float-container {
	border: 1px solid #fff;
	padding: 1%;
}

.float-child {
	width: 50%;
	float: left;
	padding: 1%;
	border-radius: 2%;
	border: 1px solid gray;
}

.float-child2 {
	width: 100%;
	float: left;
	padding: 1%;
	text-align: center;
	align-items: center;
}

hr {
	margin: 2.5%;
	color: gray;
}

img {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	float: left;
	width: 5%;
}

img:hover {
	opacity: 0.4;
}

.marketcap_info {
	text-align: center;
}

.inline li {
	text-align: center;
	display: inline;
	float: center;
	margin-right: 2%;
	margin-left: 2%;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: rgb(0, 0, 0);
	background-color: lightgray;
}