:root {
	--body-bg: #f5f5f5;
	--text-color: #252525;
	--text-font: "Space Mono", monospace;
	--text-weight: bold;
	--text-size: 120%;
}

.dark_mode {
	--body-bg: #252525;
	--text-color: #f5f5f5;
}

body {
	background: var(--body-bg);
	color: var(--text-color);
	font-family: var(--text-font);
	font-weight: var(--text-weight);
	font-size: var(--text-size);
	margin: 0;
	height: 100vh;
	font-size: 100%;
}

.apexcharts-canvas,
.apexcharts-theme-light,
.apexcharts-svg,
.apexcharts-legend,
.apexcharts-tooltip,
.apexcharts-tooltip-box,
.apexcharts-tooltip-candlestick,
.apexcharts-annotations,
.apexcharts-xaxistooltip,
.apexcharts-xaxistooltip-text,
.apexcharts-xaxistooltip-bottom,
.apexcharts-yaxistooltip,
.apexcharts-yaxistooltip-text,
.apexcharts-yaxistooltip-bottom,
.apexcharts-text,
.apexcharts-yaxis-label,
.apexcharts-xaxis-label,
.apexcharts-graphical,
.apexcharts-toolbar,
.apexcharts-toolbar-zoomin-icon,
.apexcharts-toolbar-zoomout-icon,
.apexcharts-toolbar-zoom-icon,
.apexcharts-toolbar-pan-icon,
.apexcharts-toolbar-reset-icon,
.apexcharts-toolbar-menu-icon,
.apexcharts-toolbar-menu,
.apexcharts-inner,
.apexcharts-title-text,
.apexcharts-yaxis,
.apexcharts-yaxis-texts-g,
.apexcharts-xaxis-texts-g,
.apexcharts-xaxis,
.apexcharts-yaxistooltip-0,
.apexcharts-xaxistooltip-0 {
	background: var(--body-bg);
	background-color: var(--body-bg);
	color: var(--text-color);
	font-family: var(--text-font);
	font-weight: var(--text-weight);
	font-size: var(--text-size);
	font-size: 100%;
}

#theme_toggler {
	position: relative;
	/* background-color: black; */
	float: right;
	padding: 0.5%;
	color: #fff;
	cursor: pointer;
	user-select: none;
}


html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

div {
	padding: 0.25%;
}

#logo {
	font-family: "Source Serif Pro", serif;
	font-family: "Space Mono", monospace;
	font-weight: lighter;
	background-color: rgb(172, 172, 172);
	font-size: 250%;

}

#logo a:link {
	text-decoration: none;
	color: black;
}

#logo a:visited {
	text-decoration: none;
	color: black;
}

#logo a:hover {
	text-decoration: underline;
}

#logo a:active {
	color: rgb(0, 0, 0);
	background-color: white;
}

.box {
	position: relative;
	/* top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
}

.box select {
	background-color: black;
	font-weight: bold;
	color: white;
	padding: 0.5%;
	width: 125px;
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
}

.box::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	pointer-events: none;
}

.box:hover::before {
	font-weight: bold;
}

.box select option {
	padding: 30px;
	font-weight: bold;
}

.float-container {
	/* border: 1px solid black; */
	padding: 1%;
}

.float-child {
	width: 50%;
	float: left;
	padding: 1%;
	border-radius: 2%;
	border: 1px solid gray;
}

.float-child2 {
	width: 100%;
	float: left;
	padding: 1%;
	text-align: center;
	align-items: center;
}

hr {
	margin: 2.5%;
	color: gray;
}

img {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	float: left;
	width: 7.5%;
}

img:hover {
	opacity: 0.4;
}

.marketcap_info {
	text-align: center;
}

.inline li {
	text-align: center;
	display: inline;
	float: center;
	margin-right: 2%;
	margin-left: 2%;
	font-size: 115%;
	align-items: center;
	justify-content: space-between;
	min-height: 10vh;
}

a:link {
	text-decoration: none;
	color: var(--text-color);
}

a:visited {
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: rgb(0, 0, 0);
	background-color: lightgray;
}


#main_title_center {
	text-align: center;
	padding-bottom: 1%;
}

#coin_info_title {
	margin-left: 10%;
}

#updated_on_refresh {
	text-align: right;
	font-size: 75%;
}

#useful_links_title {
	text-align: center;
	padding-top: 0.5%;
}


#footer {
	/* display: inline; */
	text-align: center;
	margin-bottom: 2%;
	display: inline-block;
	justify-content: center;
	align-items: center;

}

#footer li {
	display: inline;

}

#footer img {
	width: 20%;
	padding-left: 5%;
	padding-right: 5%;
}

.footer {
	text-align: center;
	background: rgba(221, 221, 221, 0.2);
	bottom: 0;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 5rem;
	font-family: "Space Mono", monospace;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}