:root {
	--body-bg: #f5f5f5;
	--text-color: #252525;
	--text-font: "Space Mono", monospace;
	--text-weight: bold;
	--text-size: 100%;
	--width: 7.5%;
	--min-width: 60px;
	--min-height: 20px;
}

.dark_mode {
	--body-bg: #252525;
	--text-color: #f5f5f5;
}

body {
	background: var(--body-bg);
	color: var(--text-color);
	font-family: var(--text-font);
	font-weight: var(--text-weight);
	font-size: var(--text-size);
	margin: 0;
	height: 100vh;
	font-size: 100%;
	vertical-align: baseline;
}

.landing {
	position: relative;
	min-height: 100vh;
	opacity: 0.95;
	background-size: cover;
	padding: 0rem 2rem;
}


nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 10vh;
}

.nav-links {
	display: flex;
	list-style: none;
	font-size: 140%;
}

.nav-links li {
	position: relative;
	left: -50%;
	overflow: translate(50, 0);
	padding-left: 15%;
	background-color: var(--body-bg);
}

.nav-links a:link {
	text-decoration: none;
	color: var(--text-color);
}

.nav-links a:visited {
	text-decoration: none;
	color: var(--text-color);
}

.nav-links a:hover {
	text-decoration: underline;
}

.nav-links a:active {
	color: var(--text-color);
	background-color: gray;
}

#logo {
	font-family: var(--text-font);
	font-weight: bold;
	background-color: --body-bg;
	font-size: 250%;

}

#logo a:link {
	text-decoration: none;
	color: var(--text-color);
}

#logo a:visited {
	text-decoration: none;
	color: var(--text-color);
}

#logo a:hover {
	text-decoration: underline;
}

#logo a:active {
	color: var(--text-color);
	background-color: gray;
}


.apexcharts-canvas,
.apexcharts-theme-light,
.apexcharts-svg,
.apexcharts-legend,
.apexcharts-legend-text,
.apexcharts-tooltip,
.apexcharts-tooltip-box,
.apexcharts-tooltip-candlestick,
.apexcharts-annotations,
.apexcharts-xaxistooltip,
.apexcharts-xaxistooltip-text,
.apexcharts-xaxistooltip-bottom,
.apexcharts-yaxistooltip,
.apexcharts-yaxistooltip-text,
.apexcharts-yaxistooltip-bottom,
.apexcharts-text,
.apexcharts-yaxis-label,
.apexcharts-xaxis-label,
.apexcharts-graphical,
.apexcharts-toolbar,
.apexcharts-toolbar-zoomin-icon,
.apexcharts-toolbar-zoomout-icon,
.apexcharts-toolbar-zoom-icon,
.apexcharts-toolbar-pan-icon,
.apexcharts-toolbar-reset-icon,
.apexcharts-toolbar-menu-icon,
.apexcharts-toolbar-menu,
.apexcharts-inner,
.apexcharts-title-text,
.apexcharts-yaxis,
.apexcharts-yaxis-texts-g,
.apexcharts-xaxis-texts-g,
.apexcharts-xaxis,
.apexcharts-yaxistooltip-0,
.apexcharts-xaxistooltip-0 {
	background: var(--body-bg) !important;
	background-color: var(--body-bg) !important;
	color: var(--text-color) !important;
	font-family: var(--text-font) !important;
	font-weight: var(--text-weight) !important;
	font-size: var(--text-size) !important;
}

#theme_toggler {
	position: relative;
	/* background-color: black; */
	float: right;
	padding: 0.5%;
	color: var(--text-color);
	min-height: var(--min-width);
	min-height: var(--min-height);
	cursor: pointer;
	user-select: none;
	border: none;
	outline: none;
}

.invert {
	filter: invert(100%);
}

html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

div {
	padding: 0.25%;
}



#presets {
	padding-left: 0.45%;
}

.box {
	position: relative;
	/* top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
}

.box select {
	background-color: var(--text-color);
	font-weight: bold;
	text-align: center;
	color: var(--body-bg);
	padding: 0.5%;
	width: var(--width);
	min-width: var(--min-width);
	min-height: var(--min-height);
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	appearance: none;
	overflow-y: hidden !important;
	font-family: var(--text-font);
	font-size: var(--text-size);
	font-weight: bold;
}

.box::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: var(--text-size);
	line-height: 45px;
	pointer-events: none;
}

.box:hover::before {
	font-weight: bold;
}

.box select option {
	padding: 30px;
	font-weight: bold;
}

.float-container {
	padding: 1%;
}

.float-child {
	width: 50%;
	float: left;
	padding: 1%;
	border-radius: 2%;
	border: 1px solid gray;
}

.float-child2 {
	width: 100%;
	float: left;
	padding: 1%;
	text-align: center;
	align-items: center;
}

hr {
	margin: 2.5%;
	color: gray;
}

.coin_image {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	float: left;
	width: 7.5%;
}

.coin_image:hover {
	opacity: 0.4;
}

.coin_image2 {
	margin-top: 1.5%;
	margin-bottom: 2.5%;
	margin-left: -0.5%;
	float: left;
	width: 40px;

}

.coin_image:hover {
	opacity: 0.4;
}

.marketcap_info {
	display: block;
	text-align: center;
	margin-right: auto;
}

#market_info_title {
	margin-left: 5%;
}


.inline li {
	text-align: center;
	display: inline;
	float: center;
	margin-right: 2%;
	margin-left: 2%;
	font-size: var(--text-size);
	align-items: center;
	justify-content: space-between;
	min-height: 10vh;
}


a:link {
	text-decoration: none;
	color: var(--text-color);
}

a:visited {
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: var(--text-color);
	background-color: gray;
}


#main_title_center {
	text-align: center;
	padding-bottom: 1%;
}

.main_title_center {
	text-align: center;
	padding-bottom: 1%;
}


#coin_info_title {
	margin-left: 10%;
}

#updated_on_refresh {
	text-align: right;
	font-size: var(--text-size);
}

#useful_links_title {
	text-align: center;
	padding-top: 0.5%;
}


#footer {
	/* display: inline; */
	text-align: center;
	margin-bottom: 2%;
	display: inline-block;
	justify-content: center;
	align-items: center;

}

#footer li {
	display: inline;

}

#footer img {
	width: 20%;
	padding-left: 5%;
	padding-right: 5%;
}

.footer {
	text-align: center;
	background: rgba(221, 221, 221, 0.2);
	bottom: 0;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 5rem;
	font-family: var(--text-font);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.myBtn {
	display: none;
	/* Hidden by default */
	width: auto;
	min-width: var(--min-width);
	min-height: var(--min-height);
	position: fixed;
	/* Fixed/sticky position */
	bottom: 20px;
	/* Place the button at the bottom of the page */
	right: 30px;
	/* Place the button 30px from the right */
	z-index: 1;
	/* Make sure it does not overlap */
	border: 2px solid var(--body-bg);
	/* Remove borders */
	outline: none;
	/* Remove outline */
	background-color: var(--text-color);
	/* Set a background color */
	color: var(--body-bg);
	/* Text color */
	cursor: pointer;
	/* Add a mouse pointer on hover */
	padding: 15px;
	/* Some padding */
	border-radius: 17px;
	/* Rounded corners */
	font-size: 140%;
	/* Increase font size */
}

.myBtn:hover {
	background-color: var(--body-bg);
	color: var(--text-color);
}


.copyright-text {
	padding-bottom: 2%;
	font-size: 110%;
	text-align: center;
}

.copyright-text a {
	color: var(--text-color);
}

.copyright-text a:link {
	text-decoration: none;
	color: var(--text-color);
}

.copyright-text a:visited {
	text-decoration: none;
	color: var(--text-color);
}

.copyright-text a:hover {
	text-decoration: underline;
}

.copyright-text a:active {
	color: var(--text-color);
	background-color: gray;
}

/* .logoLinks {
	float: right;
	font-size: 65%;
	padding-top: 0.5%;
	padding-right: 0.5%;
	user-select: none;
} */

.smallButton {
	background: url('https://www.freeiconspng.com/uploads/arrow-refresh-reload-icon-29.png') no-repeat;
	background-color: transparent;
	cursor: pointer;
	border: none;
	background-size: 100% 100%;
	min-height: 20px;
	min-width: 20px;
	height: 2%;
	width: 2%;
}

.smallButton:hover {
	background-color: gray;
	color: var(--body-bg);
}

.smallButton:active {
	background-color: gray;
	color: var(--text-color);
}